<div class="">
  {{#snippets}}
  <div class="snippet-list">
  <p>{{snippetUser}}</p>
  <p>{{title}} ({{language}})</p>
  <p>{{body}}</p>
  <p>{{notes}}</p>
  <p>{{tags}}</p>
  <p>stars: {{stars}}</p>
  <p>{{createdAt}}</p>
  </div>
  {{/snippets}}
</div>
