* {
  margin: 0;
  padding: 0;
}

.container {
  border: 1px dotted black;
  background-color: teal;
  padding: 3vw;
}

.nav-titles {
  display: flex;
}

.nav-links {
  margin-top: 10px;
  margin-right: 20px;
}
